@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');

* {
    box-sizing: border-box;
}

.root {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 181, 95);
    width: 100%;
    height: 100vh;
}
